.ActionEnter {
	display: inline-block;
}

.ActionEnter__textarea {
	height: 10em;
	width: 20em;
	position: relative;
}

.ActionEnter textarea {
	font-family: inherit;
	height: 100%;
	width: 100%;
}

.ActionEnter .react-datepicker__input-container {
	position: absolute;
	right: 0.2em;
	bottom: 0.2em;
}

.ActionEnter__breadcrumbs {
	margin-top: 0.8em;
	text-align: center;
}

.ActionEnter__pledge {
	border: none;
	background: none;
	color: #FFF;
	cursor: pointer;
	display: block;
	font-size: 1.25em;
	margin: 1em auto;
	margin-top: 5em;
	padding: 0.5em;
}
.ActionEnter__pledge[disabled] {
	cursor: default;
	opacity: 0.75;
}
