.Welcome {
	display: inline-block;
}

.Welcome_message {
	display: inline-block;
	font-size: 1.05em;
	width: 35%;
	margin-top: 1em;
}

.Welcome_go {
	margin-top: 3em;
}

.Welcome_link {
	text-decoration: none;
	color: #FFF;
	cursor: pointer;
	font-size: 1.25em;
}

.Welcome_link:hover {
	color: #E0FFFF;
}
