.Welcome {
	display: inline-block;
}

.Welcome__message {
	display: inline-block;
	font-size: 1.05em;
	margin-top: 1em;
	width: 25%;
}

.Welcome__go {
	margin-top: 6em;
}

.Welcome__link {
	background: #418d7b;
	border-radius: 0.2em;
	color: #FFF;
	cursor: pointer;
	font-size: 1.25em;
	padding: 0.4em;
	text-decoration: none;
}

.Welcome__link:hover {
	background: #397768;
}
