@import url('https://fonts.googleapis.com/css?family=Oxygen');

body {
	background-color: #8AD1C1;
	color: white;
	font-family: 'Oxygen', sans-serif;
	font-size: 1.2rem;
	text-shadow: #AAA 0 0 1px;
}

.page-container {
	margin: 3em 2em;
	position: absolute;
}

h2 {
	margin-top: 0;
}

ul {
	list-style: none;
}
