.Calendar__value {
	color: #777;
	display: inline-block;
	line-height: 2em;
	padding-right: 0.5em;
}

.Calendar svg {
	fill: #777;
	max-height: 2em;
	max-width: 2em;
	vertical-align: middle;
}

.Calendar__clear {
	background: none;
	border-radius: 0.25em;
	color: inherit;
	font-size: inherit;
	line-height: 1em;
	margin: 0.25em 0.5em;
	padding: 0.25em 0.5em;
}
